<a href="/account/edit">Edit Account</a>
<a href="/account/logout">Log Out</a><br/>

{{#if user}}
	Hello, {{user.firstName}}!<br/>
	This is your shipping address: {{user.shippingAddress}}<br/>
	This is your billing address: {{user.billingAddress}}<br/>
	Please don't think this is creepy. 

	{{#if user.orders}}
		<h2>Orders</h2>
		
		<table border="1">
			 <tr>
			   <th>Date</th>
			   <th>Total</th>
			   <th>Shipping To</th>
			   <th>Products</th>
			 </tr>
			{{#each user.orders as |order|}}
				<tr>
					<td>{{order.date}}</td>
					<td>${{order.price}}</td>
					<td>{{order.shippingAddress}}</td>
					<td>
						{{#each order.cart as |cart|}}
							{{cart.name}}
						{{/each}}
					</td>
				</tr>
			{{/each}}
		</table>
	{{/if}}
{{/if}}
